* {
    margin: 0;
    padding: 0;
}

:root {
    --main-red: #b30000;
    --darker-red: #800000;
}

body {
    display: grid;
    grid-template: 1fr 6fr 1fr / 1fr;
    height: 100vh;

    background-color: #ffffb3;
    background-image: url('../images/pizza.svg');
    background-repeat: repeat;
    background-size: 137px 137px;
}

header,
footer {
    grid-column: 1 / 3;
    color: white;
    background-color: #b30000;
}

footer {
    padding: 10px;
}

header {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

header>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>nav {
    gap: 10px;
    background-color: var(--darker-red);
}

header>nav>button {
    height: 100%;
    padding: 10px 50px;
    color: white;
    background-color: var(--darker-red);
    border: none;
}

#content {
    margin: 20px 250px;
    border-radius: 20px;

    background-color: #ffffe6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content>* {
    outline: 1px solid red;
}